<nav class="next-header__primary-tools js-primary-tools">
	<ul class="next-header__primary-tools__items">

		<li class="next-header__primary-tools__item next-header__primary-tools__item--account next-header__primary-tools__item--logged-in next-header__primary-tools__myft">
			<a class="next-header__primary-tools__link" href="/mypage" data-trackable="my-ft">
				<span class="next-header__primary-tools__my-page js-my-page-tool">
					<i class="next-header__primary-tools__my-page__icon"></i>
					<abbr title="My FT"></abbr>
				</span>
			</a>
		</li>

		<li class="next-header__primary-tools__item next-header__primary-tools__item--account next-header__primary-tools__item--logged-out">
			<a class="next-header__primary-tools__link" href="/login" data-trackable="login">Sign in</a>
		</li>

		<li class="next-header__primary-tools__item next-header__primary-tools__item--account next-header__primary-tools__item--logged-in">
			<a class="next-header__primary-tools__link" href="/logout" data-trackable="logout">Sign Out</a>
		</li>

		<li class="next-header__primary-tools__item next-header__primary-tools__item--account next-header__primary-tools__item--my-account next-header__primary-tools__item--logged-in">
			<a class="next-header__primary-tools__link" href="http://registration.ft.com/registration/selfcare/" data-trackable="my-account">My Account</a>
		</li>

		{{#if @root.flags.search}}
			<li class="next-header__primary-tools__item next-header__primary-tools__search js-search">
				<button class="next-header__search-toggle" data-trackable="search-toggle">Search</button>
				{{>n-header-footer/templates/partials/search-form}}
			</li>
		{{/if}}
	</ul>
</nav>
