{{#if @root.flags.globalNavigation}}
	<nav id="primary-nav" class="next-header-v2__primary-nav" data-trackable="primary-nav" role="navigation" aria-label="Primary navigation">
		<ol class="next-navigation-v2 next-navigation-v2--nav js-global-nav">
			<li
				class="next-navigation-v2__group next-navigation-v2__group--more"
				data-trackable="group--more"
				data-on-expanded="noscroll-body"
			>
				<label class="next-navigation-v2__toggle" for="sub-nav">
					<a href="#next-footer__nav" class="next-navigation-v2__link next-navigation-v2__link--top-level js-sub-nav-toggle" data-trackable="More">
						<span class="next-navigation-v2__link__text--mobile">
							<span class="next-navigation-v2__link__inner-text--open">Menu</span>
							<span class="next-navigation-v2__link__inner-text--close">Close</span>
						</span>
					</a>
				</label>
				<input class="next-navigation-v2__checkbox" type="checkbox" id="sub-nav" name="sub-nav" value="">
				<ol class="next-navigation-v2__group__items next-navigation-v2__group__items--nested o-expander__content" data-trackable="secondary-navigation">
					<li class="next-navigation-v2 next-navigation-v2__membership-tools">
						<ol>
							{{> n-header-footer/templates/partials/membership-tools}}
						</ol>
					</li>

					{{> n-header-footer/templates/partials/navigation/all-templatev2 nav=navigation.nav all=navigation.all}}
				</ol>
			</li>

			{{> n-header-footer/templates/partials/navigation/nav-template nav=navigation.nav all=navigation.all}}

		</ol>
	</nav>
{{/if}}
