{{#if @root.flags.globalNavigation}}
	<nav id="primary-nav" class="next-header__primary-nav" data-trackable="primary-nav" role="navigation" aria-label="Primary navigation">
		<ol class="next-navigation__menu next-navigation__menu--nav js-global-nav">
			<li
				class="next-navigation__menu__group next-navigation__menu__group--more"
				data-trackable="group--more"
				data-on-expanded="noscroll-body"
			>
				<input class="next-navigation__menu__checkbox n-util-visually-hidden" data-trackable="menu-toggle" type="checkbox" id="sub-nav" name="sub-nav" value="" aria-label="Expand menu" aria-controls="secondary-navigation"/>
				<div class="next-navigation__menu__container">
					<label class="next-navigation__menu__toggle" for="sub-nav" aria-hidden="true">
						<span class="next-navigation__menu__link next-navigation__menu__link--top-level js-sub-nav-toggle">
							<span class="next-navigation__menu__link__text--mobile">
								<span class="next-navigation__menu__link__inner-text--open">Menu</span>
								<span class="next-navigation__menu__link__inner-text--close">Close</span>
							</span>
						</span>
					</label>
					<ol id="secondary-navigation" class="next-navigation__menu__group__items next-navigation__menu__group__items--nested o-expander__content" data-trackable="secondary-navigation">
						{{> n-header-footer/templates/partials/all nav=topLevelNav all=nav}}
					</ol>
				</div>
			</li>

			{{> n-header-footer/templates/partials/nav nav=topLevelNavNew all=nav}}
		</ol>
	</nav>
{{/if}}
