<input class="next-header-v2__search-checkbox" type="checkbox" id="search" name="search" value="">
<label class="next-header-v2__search-toggle" for="search">
	<a href="#search" class="" data-trackable="Search">
		<span class="next-header-v2__search-toggle-text--open">Search</span>
		<span class="next-header-v2__search-toggle-text--close">Close</span>
	</a>
</label>
<form action="/search" class="js-search next-header-v2__search-form" data-trackable="search-form" role="search">
	<label for="search-term" class="u-visually-hidden">Site search</label>
	<input id="search-term" type="search" name="q" class="next-header__search-form__input o-forms-text" placeholder="Search"{{#if searchQuery}} value="{{searchQuery}}"{{/if}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
	data-trackable="search-input" {{#ifAll headerData headerData.searchTerm}}{{#ifEquals headerData.searchTerm true}}{{else}} value="{{headerData.searchTerm}}"{{/ifEquals}}{{/ifAll}}/>
	<button class="next-header-v2__search-form__button u-visually-hidden" for="search" data-trackable="search-button">
		Search
	</button>
</form>
