<button class="next-header__search-toggle" data-trackable="search-toggle">Search</button>
<form action="/search" class="js-search next-header__search-form" data-trackable="search-form" role="search">
	<label for="search-term" class="u-visually-hidden">Site search</label>
	<input id="search-term" type="search" name="q" class="next-header__search-form__input o-forms-text js-search-input" placeholder="Search"{{#if searchQuery}} value="{{searchQuery}}"{{/if}} autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
	data-trackable="search-input" {{#ifAll headerData headerData.searchTerm}}{{#ifEquals headerData.searchTerm true}}{{else}} value="{{headerData.searchTerm}}"{{/ifEquals}}{{/ifAll}}/>
	<button class="next-header__search-form__button" for="search" data-trackable="search-button">
		<span class="u-visually-hidden">Search</span>
	</button>
</form>
