<div class="next-navigation-v2__sub-nav">
  {{#each all}}
    <li class="next-navigation-v2__group__item">
        {{#if children}}
          <input class="next-navigation-v2__link--radio" type="radio" id="{{id}}" name="nav-item" value="{{name}}" {{#unless @index}}checked{{/unless}} />
          <label for="{{id}}">
            <span class="next-navigation-v2__link--sub-level-header">
              <span class="next-navigation-v2__link next-navigation-v2__link--sub-level" data-trackable="{{name}}" >{{name}}</span>
            </span>
          </label>
          <ol class="next-navigation-v2__group__sub-items">
            <li class="next-navigation-v2__group__sub-item">
              <a class=" next-navigation-v2__link next-navigation-v2__link--sub-level" href="{{href}}" data-trackable="{{name}}">All {{name}}</a>
            </li>
            {{#each children}}
              <li class="next-navigation-v2__group__sub-item">
                  <a class="next-navigation-v2__link next-navigation-v2__link--sub-level" href="{{href}}" data-trackable="{{name}}">{{name}}</a>
              </li>
            {{/each}}
          </ol>
        {{else}}
        <span class="next-navigation-v2__link--sub-level-header">
          <a class="next-navigation-v2__link next-navigation-v2__link--sub-level" href={{href}} data-trackable="{{name}}" >{{name}} > </a>
        </span>
        {{/if}}
    </li>
  {{/each}}
</div>
