<div class="ad-placeholder ad-placeholder__banlb ad-placeholder__{{__name}}"></div>
<header
	class="next-header"
	data-trackable="header" >
	<div class="next-header__row next-header__row--primary">
		<div class="next-header__row--inner o-grid-row">
			<div class="next-header__logo next-header__logo--ft">
				<a class="next-header__logo__link" data-trackable="logo" href="/">
					<abbr class="next-header__logo__name" title="Financial Times">FT</abbr>
				</a>
			</div>
			{{>n-header-footer/templates/partials/primary-nav}}
			{{>n-header-footer/templates/partials/primary-tools}}
		</div>
	</div>
</header>
