<a class="n-util-visually-hidden" href="#primary-nav">Skip to navigation</a>
<a class="n-util-visually-hidden" href="#site-content">Skip to content</a>

<div class="next-header__ad-container">
	<div class="ad-placeholder ad-placeholder__banlb ad-placeholder__{{__name}}"></div>
</div>

<header class="next-header next-header-v2 next-header--light-on-dark" data-trackable="header">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div class="next-header__masthead" data-o-grid-colspan="12">
				<div class="next-header__masthead__logo">
					<a class="next-header__logo__link" data-trackable="logo-large" href="/" title="Go to Financial Times homepage">
						<span class="n-util-visually-hidden">
							Financial Times
						</span>
					</a>
				</div>
				<nav class="next-header__primary-tools next-header__primary-tools--masthead js-primary-tools" role="navigation" aria-label="Useful tools">
					<ul class="next-header__primary-tools__items">
						{{> n-header-footer/templates/partials/myft-tools }}
						{{> n-header-footer/templates/partials/membership-tools }}
					</ul>
				</nav>
			</div>

			<div class="next-header__row next-header__row--primary" data-o-grid-colspan="12">
				<div class="next-header__row--inner js-suggestions-container">
					{{>n-header-footer/templates/partials/primary-tools}}
					<div class="next-header__masthead__logo--mobile">
						<a class="next-header__logo__link" data-trackable="logo-large" href="/" title="Go to Financial Times homepage">
							<span class="n-util-visually-hidden">
								Financial Times
							</span>
						</a>
					</div>
					{{>n-header-footer/templates/partials/primary-navv2}}
				</div>
			</div>
		</div>
	</div>
</header>
