.next-header {
	position: relative;
	z-index: 20;
}
.next-header--v2 {
	padding-bottom: 46px;

	@include oGridRespondTo(M) {
		padding-bottom: 0;
	}

	.next-header__row--primary {
		position: fixed;
		left: 0;
		right: 0;
		transition: transform 150ms;

		@include oGridRespondTo(M) {
			position: static;
		}

		@include oGridRespondTo($until: M) {
			&.next-header__row--primary--hidden {
				transform: translateY(-100%);
			}
		}
	}
}
.next-header__row--inner {
	position: relative;
}
.next-header__row--primary {
	background: $next-header-primary-bg;
}
.next-header__row--secondary {
	background: $next-header-secondary-bg;
	position: absolute;
	left: 0;
	right: 0;
	top: $next-header-primary-height;
}
