.next-header {
	position: relative;
	z-index: 21;
	padding-bottom: 46px;

	@include oGridRespondTo(M) {
		padding-bottom: 0;
	}
	.next-header-before + & {
		@include oGridRespondTo($until: M) {
			padding-bottom: 0;
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 0;
		}
	}
	.next-header__row--primary {
		position: fixed;
		left: 0;
		right: 0;
		transition: transform 150ms;

		&[data-o-grid-colspan] {
			padding-top: 0;
			padding-bottom: 0;
		}
		@include oGridRespondTo(M) {
			position: relative;
		}

		.next-header-before + & {
			position: relative;
		}
	}

	a {
		border-bottom: 0;
	}

	a:hover,
	a:focus {
		color: inherit;
	}
}

.next-header__row--inner {
	position: relative;
	min-height: 45px;
	min-width: 280px; // can't fit below that.
	padding-left: 0;
	padding-right: 0;

	& > [data-o-grid-colspan] {
		padding-left: 0;
		padding-right: 0;
	}
}

.next-header__row--primary {
	background: $next-header-primary-bg;
	&::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
