.edition-toggler {
	position: absolute;
	top: oGridGutter(M);
	left: oGridGutter(M);
	color: getColor('white');
	z-index: 1;
}

.edition-toggler__switcher {
	@include oTypographySansData(m);
	font-size: 16px;
	background-color: transparent;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: getColor('white');
	padding: 0;
	cursor: pointer;

	&:after {
		content: '';
		display: inline-block;
		margin-left: 10px;
		border-top: 8px solid getColor('white');
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
	}

	&.edition-toggler__switcher-open:after {
		border-top: 0;
		border-bottom: 8px solid getColor('white');
	}

	&:hover,
	&:focus {
		border-bottom-color: transparent;
		outline: none;
	}
}

.edition-toggler__editions {
	margin: 0;
	padding: 10px;
	list-style: none;
	background-color: getColor('grey-tint5');
	display: none;

	.edition-toggler__switcher-open + & {
		display: block;
	}
}

.edition-toggler__edition__link {
	color: inherit;

	&:hover {
		color: inherit;
		border-bottom: 1px solid getColor('white');
	}
}
