.next-header__logo {
	float: left;
	width: 45px;
	height: 45px;
}

.next-header__logo__link {
	display: block;
	height: 100%;
	background-color: #fff1e0;
	background-image: linear-gradient(#ffe8cf, #ffddb9);
	position: relative;

	&:after {
		@include nTypeBravo(5);
		content: 'ALPHA';
		position: absolute;
		bottom: 2px;
		right: 0;
		left: 0;
		text-align: center;
		font-size: 10px;
		color: getColor('black');
	}
}

.next-header__logo__name {
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 5px;

	.next-header__logo--ft & {
		@include nextIcon(brand-ft, getColor('black'), 35);
		background-size: 35px 20px;
		background-position: 0 8px;
		border: 0;
	}
}

@include nextHeaderOldIe {
	.next-header__logo__name {
		text-indent: 0;
		text-align: center;
		color: $next-black;
		font-family: $fontBrand;
		line-height: 35px;
		font-size: 30px;
		background-image: none;
	}
}
