@include oColorsSetUseCase(nav, text, 'white');
@include oColorsSetUseCase(nav, background, 'cold-2');
@include oColorsSetUseCase(link-hover, text, 'blue-2');
@include oColorsSetUseCase(sub-nav, text, 'white');
@include oColorsSetUseCase(sub-nav, background, 'cold-2');
@include oColorsSetUseCase(sub-nav-hover, background, 'cold-2');
@include oColorsSetUseCase(header, border, 'grey-tint3');

.next-navigation__group {
	display: inline-block;
	// Because <button> elements sit on high baseline in FF
	vertical-align: bottom;
}
.next-navigation__link {
	display: block;
	position: relative;
	color: oColorsGetPaletteColor('white');
	font-family: inherit;
	text-decoration: none;
	font-size: 14px;
	padding: 0 4px;

	@include oGridRespondTo(M) {
		padding: 0 7px;
		font-size: 16px;
	}
	&:hover,
	&:focus {
		@include oColorsFor(link-hover, text);
	}
}
.next-navigation__link--top-level {
	display: inline-block;
	color: oColorsGetPaletteColor('white');
	background: none;
	border: 0;
	line-height: 43px;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 2px;
		height: 14px;
		top: 50%;
		right: -1px;
		margin-top: -7px;
		background-color: #ffffff;

		.next-navigation__group:last-child & {
			display: none;
		}
	}
	// Just incase a <button> is used
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
.next-navigation__group--sections {
	display: none;

	@include oGridRespondTo(L) {
		display: inline-block;
	}
}
