@media print {
	.next-header__row {
		display: none;
	}
	.next-header:after {
		content: 'Financial Times';
		display: block;
		font-family: $fontSans;
		text-transform: uppercase;
		text-align: center;
		font-size: 30px;
	}
}
