.next-header__primary-tools {
	float: right;
}

.next-header__primary-tools__items {
	margin: 0;
	padding: 0;
}

.next-header__primary-tools__item {
	display: inline-block;
}

.next-header__primary-tools__item--logged-in {
	position: relative;
	display: none;

	[data-next-is-logged-in=true] & {
		display: inline-block;

		@include oGridRespondTo($until: L) {
			&.next-header__primary-tools__item--my-account {
				display: none;
			}
		}
	}

	// Because there's sadly no :first-of-class selector
	& ~ & {
		&:before {
			content: '';
			position: absolute;
			width: 2px;
			height: 14px;
			top: 50%;
			left: -1px;
			margin-top: -7px;
			background-color: #ffffff;
		}
	}
}

.next-header__primary-tools__item--logged-out {
	display: none;

	[data-next-is-logged-in=false] & {
		display: inline-block;
	}
}

.next-header__primary-tools__link {
	@include nextHeaderNavItem;
}

[data-next-anonymous-myft=on] .next-header__primary-tools__myft {
	display: inline-block;
}

.next-header__primary-tools__mypage {
	position: relative;
}

.next-header__primary-tools__my-page__icon {
	@include nextIcon(myft-bolder, oColorsGetPaletteColor('white'), 16);
	content: '';
	width: 34px;
	margin: 0 0 -5px;
}

.next-header__primary-tools__search {
	margin-left: 15px;

	@include oGridRespondTo(M) {
		margin-left: 0;
		margin-top: 8px;
		margin-right: 8px;
	}
}

.next-header--v2 .next-header__primary-tools__search {
	margin-left: 0;
}

.next-header__search-toggle {
	@include nextHeaderNavItem;

	@include oGridRespondTo (M) {
		display: none;
	}

	&:before {
		@include nextIcon(search, #ffffff, 15);
		content: '';
		position: relative;
		top: 2px;
		margin-right: 3px;
	}

	.next-header--searching & {
		background: $next-header-secondary-bg;
	}
}

// FIXME cleanup when removing mastheadV2 toggle

.next-header--v2 {
	.next-header__primary-tools__item--account {
		display: none;

		@include oGridRespondTo(L) {
			display: inline-block;
		}

		&.next-header__primary-tools__myft {
			display: inline-block;

			@include oGridRespondTo(L) {
				display: none;
			}
		}
	}

	.next-header__primary-tools--masthead {
		float: none;
		position: absolute;
		top: 0;
		right: 0;

		@include oGridRespondTo($until: L) {
			display: none;
		}

		.next-header__primary-tools__item {
			display: inline-block;
		}

		.next-header__primary-tools__item--logged-in ~ .next-header__primary-tools__item--logged-in:before {
			background-color: black;
		}

		.next-header__primary-tools__link {
			color: black;
		}

		.next-header__primary-tools__link:hover,
		.next-header__primary-tools__link:focus {
			background-color: transparent;
		}

		.next-header__primary-tools__my-page__icon {
			@include nextIcon(myft-bolder, oColorsGetPaletteColor('black'), 16);
			content: '';
			width: 34px;
			margin: 0 0 -5px;
		}
	}

	.next-header__search-toggle {
		width: 30px;
		height: 45px;
		overflow: hidden;

		&:before {
			@include nextIcon(search, #ffffff, 20);
			content: '';
			position: relative;
			top: 5px;
			margin-right: 0;
		}
	}
}

.next-header--v2.next-header--light-on-dark .next-header__primary-tools--masthead {
	.next-header__primary-tools__item--logged-in ~ .next-header__primary-tools__item--logged-in:before {
		background-color: $next-header-light-bg;
	}

	.next-header__primary-tools__link {
		color: $next-header-light-bg;
	}

	.next-header__primary-tools__my-page__icon {
		@include nextIcon(myft-bolder, $next-header-light-bg, 16);
		content: '';
		width: 34px;
		margin: 0 0 -5px;
	}
}

.next-header__search-form {
	display: none;
	margin-bottom: 0;

	@include oGridRespondTo (M) {
		display: inline-block;
		position: relative;
	}

	.next-header--searching & {
		@include oGridRespondTo ($until: M) {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			padding: 7px 5px;
			background: $next-header-secondary-bg;
		}
	}
}

.next-header__search-form__input {
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	padding: 1px 26px 1px 5px;

	@include oGridRespondTo (M) {
		width: 150px;
	}
}

.next-header__search-form__button {
	border: 0;
	background: none;
	position: absolute;
	right: 10px;
	top: 50%;
	height: 16px;
	margin-top: -8px;
	padding: 0;
	line-height: 20px;
	cursor: pointer;

	@include oGridRespondTo (M) {
		right: 5px;
	}

	&:after {
		@include nextIcon(search, #000000, 16);
		content: '';
	}
}

.typeahead {
	list-style: none;
	position: absolute;
	border: 1px solid #cec6b9;
	border-top: 0;
	background-color: white;
	color: #333333;
	z-index: 11;
	text-align: left;
	margin: 0px 5px;
	padding: 0;
	display: none;
	left: 0px;
	right: 0px;

	@include oGridRespondTo (M) {
		left: inherit;
		min-width: 300px;
		margin: 0;
	}
}

.typeahead--active {
	display: block;
}

.typeahead__item {
	padding: 7px 5px;
}

.typeahead__link {
	color: #333333;

	&:hover,
	&:focus {
		color: #2e6e9e;
		text-decoration-style: dotted;
	}
}
