@include oColorsSetColor('nav-warm', #f6f4f0);
@include oColorsSetColor('nav-heading', #e1e0dc);
@include oColorsSetColor('sub-nav-border', #cdceca);
@include oColorsSetColor('nav-warm-1', #e6ded4);

@include oColorsSetUseCase(nav, text, 'white');
@include oColorsSetUseCase(nav, background, 'grey-tint5');
@include oColorsSetUseCase(link-hover, text, 'blue-2');
@include oColorsSetUseCase(sub-nav, text, 'nav-warm-1');
@include oColorsSetUseCase(sub-nav-heading, background, 'nav-warm');
@include oColorsSetUseCase(sub-nav, background, 'cold-2');
@include oColorsSetUseCase(sub-nav-hover, background, 'nav-warm-1');
@include oColorsSetUseCase(header, border, 'grey-tint3');

.next-header-v2__primary-nav {
	float: left;

	@include oGridRespondTo($until: M) {
		position: absolute;
	  top: 0;
	  left: 0;
	}
}

.next-navigation-v2,
.next-navigation-v2__group__items {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	background: linear-gradient(90deg, oColorsGetPaletteColor('cold-2') 41.667%, oColorsGetPaletteColor('nav-warm-1') 41.667%);
	@include oGridRespondTo(M) {
		background: oColorsGetPaletteColor('cold-2');
	};
}
.next-navigation-v2 { @include oColorsFor(nav, text background); }
.next-navigation-v2__group {
	display: inline-block;
	// Because <button> elements sit on high baseline in FF
	vertical-align: bottom;
}

.next-navigation-v2__link {
	display: block;
	position: relative;
	color: inherit;
	font-family: inherit;
	text-decoration: none;
	font-size: 18px;
	padding: 0 4px;

	@include oGridRespondTo(M) {
		padding: 0 7px;
		font-size: 16px;
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
.next-navigation-v2__link--top-level {
	display: inline-block;
	color: inherit;
	background: none;
	border: 0;
	cursor: pointer;
	line-height: 43px;
	background-color: oColorsGetPaletteColor('cold-2');

	// Just incase a <button> is used
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	@include oGridRespondTo(L) {
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 2px;
			height: 14px;
			top: 50%;
			right: -1px;
			margin-top: -7px;
			background-color: #ffffff;
		}
	}
}
.next-navigation-v2__link--sub-level {
	@include oColorsFor(header, border);
	padding-right: 15px;
	min-height: 32px;
	line-height: 32px;
	font-weight: 500;
	font-size: 14px;

	@include oGridRespondTo(M) {
		min-height: 0;
		line-height: 2.2;
		font-size: 14px;
	}
}

.next-navigation-v2__link--sub-level-header {
	@include oGridColumn(5);
	padding: 0 15px 0 0;
	text-transform: uppercase;

	@include oGridRespondTo(M) {
		@include oGridResetColumn;
		padding-left: 20px;
	}
	@include oGridRespondTo($until: M) {
		color: oColorsGetPaletteColor('white');
		text-align: right;

		&:hover {
			text-decoration: none;
			font-weight: bold;
			@include oColorsFor(sub-nav-hover, background);
			color: oColorsGetPaletteColor('grey-tint5');
		}
		&:hover + .next-navigation-v2__group__sub-items {
			display: block;
		}
	}
}

.next-navigation-v2__link__text--mobile {
	@include oGridRespondTo(L) { display: none; }
	.next-navigation-v2__link__inner-text {
		@include oGridRespondTo($until: M) { display: none; }
	}
}
// FIXME clean up after removing mastheadV2 toggle
.next-header-v2 .next-navigation-v2__link__text--mobile {
	display: block;
	overflow: hidden;

	&:before {
		@include nextIcon(hamburger, #ffffff, 20);
		content: '';
		position: relative;
		top: 5px;
		margin-right: 9px;
	}
}
.next-navigation-v2__link__text--desktop {
	display: none;

	@include oGridRespondTo(L) { display: block; }
}
.next-navigation-v2__group--sections {
	display: none;

	@include oGridRespondTo(L) { display: inline-block; }
}
.next-navigation-v2__group__items {
	// @include oColorsFor(sub-nav, background);
	width: 100%;
	padding: 0 0 20px;
	position: absolute;
	left: 0;
	transition: 0.2s opacity 0.25s ease, 0s left 0.25s step-end;

	.next-navigation-v2--nav & {
		visibility: hidden;
		opacity: 0;
		height: 0;
		left: -9999px;

		@include oGridRespondTo(L) { width: 100%; }
	}
	.next-navigation-v2__group--sections:hover &,
	&[aria-expanded="true"] {
		visibility: visible;
		opacity: 1;
		height: auto;
		left: 0;
	}
	&[aria-expanded="true"] { transition-delay: 0s; }
	.next-navigation-v2__group--more & { padding-bottom: 0; }
}
.next-navigation-v2__group__item {
	vertical-align: top;
	clear: both;
	overflow: hidden;
	@include oGridRespondTo(M) {
		@include oGridColumn(3);
		clear: none;
		&:nth-child(4n+1) { clear: both; }
	}

}
.next-navigation-v2__group__item--top-level {
	@include oGridRespondTo(L) { display: none; }
}

.next-navigation-v2__group__sub-items {
	padding: 10px 0 10px 15px;
	list-style: none;
	text-transform: none;

	@include oGridRespondTo($until: M) {
		@include oGridColumn(7);
		@include oColorsFor(sub-nav-hover, background);
		color: oColorsGetPaletteColor('grey-tint5');
		display: none;
		min-height: 340px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 0 0 15px;
		overflow-x: scroll;
	}

	&:hover { display: block; }
}

.overlay {
	position: absolute;
	background: rgba(255,255,255,0.8);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.next-navigation-v2__group__sub-item { display: block; }
.next-header-v2 .next-header-v2__primary-tools__myft { display: inline-block; }
.next-header-v2 .next-navigation-v2__membership-tools {
	@include oGridRespondTo(M) { display: none; }

	ol { padding: 0; }

	.next-header-v2__primary-tools__item,
	.next-header-v2__primary-tools__item--logged-in.next-header-v2__primary-tools__item--my-account {
		display: inline-block;
	}
}

.next-navigation-v2__sub-nav {
	border-spacing: 0;

	@include oGridRespondTo($until: M) {
		position: absolute;
		top: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-x: scroll;
	}

	td {
		vertical-align: middle;
		min-height: 38px;
	}
}

.next-header--expanded {
	@include oGridRespondTo($until: M) {
		.next-header-v2__row {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 30;
		}

		.next-navigation-v2__group__items {
			position: fixed;
			top: 44px;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 1;
		}

		.next-navigation-v2__link--top-level.js-sub-nav-toggle {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 30;
		}
	}
}
