@include oColorsSetColor('nav-warm,', #f6f4f0);
@include oColorsSetColor('nav-heading', #e1e0dc);
@include oColorsSetColor('sub-nav-border', #cdceca);
@include oColorsSetColor('nav-warm-1', #e6ded4);

@include oColorsSetUseCase(nav, text, 'white');
@include oColorsSetUseCase(nav, background, 'grey-tint5');
@include oColorsSetUseCase(link-hover, text, 'blue-2');
@include oColorsSetUseCase(sub-nav, text, 'nav-warm-1');
@include oColorsSetUseCase(sub-nav-heading, background, 'nav-warm');
@include oColorsSetUseCase(sub-nav, background, 'cold-2');
@include oColorsSetUseCase(sub-nav-hover, background, 'nav-warm-1');
@include oColorsSetUseCase(header, border, 'grey-tint3');

label > * {
	pointer-events: none;
}

.next-header-v2__primary-nav {
	float: left;

	@include oGridRespondTo($until: M) {
		position: absolute;
		top: 0;
		left: 7px;
	}
}

.next-header-v2 .next-header__row--primary {
	&:before,
	&:after {
		@include dark_border_bottom;
		position: absolute;
		z-index: 1;
		visibility: visible;
	}
	&:before { top: 0; }
	&:after { bottom: 0; }
}
.next-navigation-v2,
.next-navigation-v2__group__items {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	background: oColorsGetPaletteColor('cold-2');
}
.next-navigation-v2 { @include oColorsFor(nav, text background); }
.next-navigation-v2__group {
	display: inline-block;
	// Because <button> elements sit on high baseline in FF
	vertical-align: bottom;
	line-height: 43px;
}

.next-navigation-v2__group--more {}

.next-navigation-v2__link {
	display: block;
	position: relative;
	color: inherit;
	font-family: inherit;
	text-decoration: none;
	font-size: 18px;
	padding: 0 4px;

	@include oGridRespondTo(M) {
		padding: 0 7px;
		font-size: 16px;
		&.next-navigation__link--active {
			background: oColorsGetPaletteColor('cold-1');
		}
	}


	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.next-navigation__link--top-level.v2 {
	display: inline-block;
	color: inherit;
	background: none;
	border: 0;
	cursor: pointer;
	line-height: 43px;
	text-transform: uppercase;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	&.next-navigation__link--active {
		background: oColorsGetPaletteColor('cold-1');
	}

	// Just incase a <button> is used
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	&:after { display: none; }
}
.next-navigation-v2__link--sub-level {
	@include oColorsFor(header, border);
	padding-right: 15px;
	min-height: 32px;
	line-height: 32px;
	font-weight: 500;
	font-size: 14px;

	@include oGridRespondTo(M) {
		min-height: 0;
		line-height: 2.2;
		font-size: 14px;
	}
}

.next-navigation-v2__link--sub-level-header {
	@include oGridColumn(5);
	padding: 0 15px 0 0;
	text-transform: uppercase;

	@include oGridRespondTo(M) {
		@include oGridResetColumn;
		padding-left: 15px;
		display: block;
		.next-navigation-v2__link--sub-level { font-weight: bold; }
	}
	@include oGridRespondTo($until: M) {
		color: oColorsGetPaletteColor('white');
		text-align: right;
		padding: 0 2px 0 0;
		&:after { @include dark_border_bottom; }
	}
}
.next-navigation-v2__link--radio {
		display: none;

		@include oGridRespondTo($until: M) {
			&:checked ~ .next-navigation-v2__link--sub-level-header {
				@include oColorsFor(sub-nav-hover, background);
				text-decoration: none;
				font-weight: bold;
				color: oColorsGetPaletteColor('grey-tint5');
			}
		}

		&:checked ~ .next-navigation-v2__group__sub-items {
			display: block;
		}
}

.next-navigation-v2__link__text--mobile {
	@include oGridRespondTo(L) { display: none; }
}
// FIXME clean up after removing mastheadV2 toggle
.next-navigation-v2__link__text--mobile {
	display: block;

	&:before {
		@include nextIcon(hamburger, #ffffff, 20);
		content: '';
		position: relative;
		top: 5px;
		margin-right: 9px;
	}
}
.next-navigation-v2__link__text--desktop {
	display: none;

	@include oGridRespondTo(L) { display: block; }
}
.next-navigation-v2__group--sections {
	display: none;

	@include oGridRespondTo(L) { display: inline-block; }
}
.next-navigation-v2__group__items {
	// @include oColorsFor(sub-nav, background);
	width: 100%;
	padding: 0 0 20px;
	position: absolute;
	left: 0;
	transition: 0.2s opacity 0.25s ease, 0s left 0.25s step-end;

	.next-navigation-v2--nav & {
		visibility: hidden;
		opacity: 0;
		height: 0;
		left: -9999px;

		@include oGridRespondTo(L) { width: 100%; }
	}
	.next-navigation-v2__group--sections:hover &,
	.next-navigation-v2__checkbox:checked ~ & {
		visibility: visible;
		opacity: 1;
		height: auto;
		left: 0;
	}
	&[aria-expanded="true"] { transition-delay: 0s; }
	.next-navigation-v2__group--more & { padding-bottom: 0; }
}
.next-navigation-v2__group__item {
	vertical-align: top;
	clear: both;
	overflow: hidden;
	@include oGridRespondTo(M) {
		@include oGridColumn(3);
		margin-top: 20px;
		clear: none;
		&:nth-child(4n+1) { clear: both; }
	}

	&--desktop {
		display: none;
		@include oGridRespondTo(M) { display: block; }
	}
	&--mobile {
		display: block;
		@include oGridRespondTo(M) { display: none; }
	}

}
.next-navigation-v2__group__item--top-level {
	@include oGridRespondTo(L) { display: none; }
}

.next-navigation-v2__group__sub-items {
	padding: 0 0 10px 15px;
	list-style: none;
	text-transform: none;

	@include oGridRespondTo($until: M) {
		@include oGridColumn(7);
		@include oColorsFor(sub-nav-hover, background);
		color: oColorsGetPaletteColor('grey-tint5');
		display: none;
		min-height: 340px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 0 0 15px;
		overflow-x: scroll;
	}

	&:hover { display: block; }
}

.next-navigation-v2__group__sub-item { display: block; }
.next-header-v2 .next-header-v2__primary-tools__myft { display: inline-block; }
.next-navigation-v2__sub-nav {
	.next-header__primary-tools__item.next-header__primary-tools__item--account {
		&.next-header__primary-tools__item--logged-in,
		&.next-header__primary-tools__item--logged-out {
			display: none;
			@include oGridRespondTo($until: M) {

				display: block;

				&::before { display: none; }

				.next-header__primary-tools__link {
					@include oGridColumn(5);
					text-align: right;
					padding: 0;
					line-height: 34px;
					clear: both;
					padding-right: 2px;
					&::after { @include dark_border_bottom; }

					&:hover,
					&:focus {
						background: none;
						text-decoration: underline;
					}
				}


				.next-header__primary-tools__link--inner {
					padding-right: 15px;
				}
			}
		}
	}
}

.next-navigation-v2__sub-nav {
	border-spacing: 0;
	padding: 0;
	list-style: none;

	@include oGridRespondTo($until: M) {
		position: absolute;
		top: 2px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-x: scroll;
	}

	td {
		vertical-align: middle;
		min-height: 38px;
	}
}

.next-navigation-v2__link__inner-text--open {
	display: none;
	@include oGridRespondTo(M) { display: inline; }
}
.next-navigation-v2__link__inner-text--close { display: none; }

.next-header-v2--expanded {
	@include oGridRespondTo(M) {
		.next-navigation-v2__link__inner-text--close { display: inline; }
	}

	.next-navigation-v2__link__inner-text--open { display: none; }

	.next-navigation-v2__link__text--mobile:before {
		@include nextIcon(cross, #ffffff, 20);
		content: '';
		position: relative;
		top: 5px;
		margin-right: 9px;
	}
}

.next-navigation-v2__toggle {
	display: block;

	@include oGridRespondTo(M) {
		width: 90px;
		padding: 0 1px 0 4px;
		position: relative;
		&:after,
		&:before {
			@include dark_border_vert;
			position: absolute;
			top: 0;
		}

		&:before { left: 0; }
		&:after { right: 0; }
	}
}
.next-navigation-v2__checkbox {
	display: none;

	&:checked {
		@include oGridRespondTo($until: M) {
			& ~ .next-navigation-v2__group__items {
				position: fixed;
				top: 44px;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 1;
			}

			& ~ .next-navigation-v2__toggle .next-navigation-v2__link--top-level.js-sub-nav-toggle {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 30;
			}
		}
	}
}
