.next-footer {
	margin-top: 10px;
}

.next-footer__nav {
	background-color: $next-grey-dark;
	display: none;

	.no-js & {
		display: block;
		padding-top: 10px;
	}
}

@include oGridRespondTo(L) {
	.next-footer__nav .nav__top-level {
		display: none;
	}
}

.next-footer__back-to-top {
	margin: 5px;
	a {
		font-family: $fontSans;
		color: $next-grey-lighter;
		text-decoration: none;
		padding: 5px;
		display: inline-block;
		font-weight: 300;
		&:hover {
			background-color: $next-blue;
			color: $next-white;
		}
	}
}
