.u-visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

@mixin dark_border_bottom {
	content: "";
	height: 1px;
	background-color: #000000;
	width: 100%;
	display: block;
	border-bottom: 1px solid #525151;
}

@mixin dark_border_vert {
	content: "";
	height: 100%;
	background-color: #000000;
	width: 1px;
	display: block;
	border-right: 1px solid #525151;
}
