$next-header-primary-height: 45px;
$next-header-primary-bg: #333333;
$next-header-secondary-bg: getColor('grey-tint5');
$next-header-light-bg: #fdf8f2;

@mixin nextHeaderNavItem() {
	color: getColor('white');
	text-decoration: none;
	display: block;
	line-height: $next-header-primary-height;
	padding: 0 4px;
	font-size: 14px;
	background: none;
	border: 0;
	cursor: pointer;

	&:hover,
	&:focus,
	&[aria-pressed] {
		background: $next-header-secondary-bg;
	}

	@include oGridRespondTo(M) {
		padding: 0 6px;
		font-size: 13px;
	}

	@include oGridRespondTo(L) {
		padding: 0 7px;
		font-size: 16px;
	}
}

@mixin nextHeaderOldIe () {
	// ie8
	@media \0screen {
		@content;
	}
	// ie7
	*+html {
		@content;
	}
}
